body {
    background-color:rgb(225, 234, 184);
}
.bordeImg {
    border-radius: 10%;
}
.left {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 3px;
    margin-left: 150px;
    float: left;
    position: relative;
    height: auto;
}

.right {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 40px;
    padding-bottom: 30px;
    margin-right: 150px;
    position: relative;
    float: right;
    width: 45%;
    height: auto;
}
div {
    font-family: Arial;
}

.contenedor {
    margin-top: 150px;
}
.textspace {
    margin-top: 20px;
}

.total {
    margin-left: 100px;
}

.gastosdeenvio {
    margin-left: 20px;
}

.unidades {
    margin-left: 23px;
}